body {
  background-color: #1a1a1a;
  color: #f1f1f1;
  font-family: Arial, sans-serif;
}

#carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cloud9-item {
  width: 100px;
  margin: 0 10px;
  transition: transform 0.5s ease;
}

#planet-info h3 {
  margin-top: 20px;
  font-size: 2rem;
  color: #ffcc00;
}

footer a {
  color: #ffcc00;
  text-decoration: none;
}

.cloud9-item.focused {
  transform: scale(1.5);
}
